body {
  margin: 0;
  background-image: url("b_bg.jpg");
  background-size: cover;
}
.top {
  height: 100px;
  background-color: #ffc0c65e;
}
.middle {
  height: auto;
  width: 300px;
  background-color: #ffc0cb47;
  display: inline-block;
  text-align: center;
  margin-top: 50px;
  margin-left: 90px;

}
.first {
  height: 100px;
  width: 300px;
  background-color: #c0888866;
  margin-top: 10px;
}
.second {
  height: 100px;
  width: 300px;
  background-color: #c0888866;
  margin-top: 10px;
}
.third {
  height: 100px;
  width: 300px;
  background-color: #c0888866;
  margin-top: 10px;
}
.fourth {
  height: 100px;
  width: 300px;
  background-color: #c0888866;
  margin-top: 10px;
}
.fifth {
  height: 100px;
  width: 300px;
  background-color: #c0888866;
  margin-top: 10px;
}
.sixth {
  height: 100px;
  width: 300px;
  background-color: #c0888866;
  margin-top: 10px;
}
.seventh {
  height: 100px;
  width: 300px;
  background-color: #c0888866;
  margin-top: 10px;
}
.eighth {
  height: 100px;
  width: 300px;
  background-color: #c0888866;
  margin-top: 10px;
}
.nineth{
  height: 100px;
  width: 300px;
  background-color: #c0888866;
  margin-top: 10px;
}

h1 {
  padding: auto;
}
